.user-meta {
    padding: 40px;
    margin: 0;
}

.user-meta__invitation {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
  
    text-align: center;
    color: $custom-black;
}

.user-meta__text-inputs {
    display: flex;
    flex-direction: column;
    margin: 12px 0 20px 0;
    padding: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    width: 100%;
  
    border: none;
}

.user-meta__text-item {
    display: flex;
    flex-direction: column-reverse;
  
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.user-meta__field {
    position: relative;
    transition: fill $main-transition-delay $main-transition-timing-function;

    &:focus-within {
        fill: $accentuation-color;
    }
}

.user-meta__field-input {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 41px;
    padding-right: 11px;
    width: 100%;
  
    outline: none;
    border: 1px solid $form-border-grey;
    border-radius: 4px ;
  
    transition: border-color $main-transition-delay $main-transition-timing-function;

    &:focus{
        border-color: $accentuation-color;
    }
}
  
.user-meta__field-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.user-meta__label {
    font-size: 12px;
    line-height: 1.14;
    margin-bottom: 4px;
  
    color: $main-font-color;
}
  
.user-meta__comment {
    padding: 12px 16px;
    min-height: 120px;
    resize: none;
  
    outline: none;
    border: 1px solid $form-border-grey;
    border-radius: 4px ;
  
    transition: border-color $main-transition-delay $main-transition-timing-function;

    &:focus {
        border-color: $accentuation-color;
    }
}

.user-meta__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    position: absolute;
 }
  
.user-meta__checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.71;
    text-align: center;
  
    color: $main-font-color;
  
    transition: fill $main-transition-delay $main-transition-timing-function;
}
  
.user-meta__checkbox-icons-container {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
  
.user-meta__checkbox-icon-unchecked {
    opacity: 1;
  
    transition: opacity $main-transition-delay $main-transition-timing-function;
}

.user-meta__checkbox:checked + .user-meta__checkbox-label .user-meta__checkbox-icon-unchecked {
    opacity: 0;
}
  
.user-meta__checkbox-icon-checked {
    opacity: 0;
  
    transition: opacity $main-transition-delay $main-transition-timing-function;
}
  
.user-meta__checkbox:checked + .user-meta__checkbox-label .user-meta__checkbox-icon-checked {
    opacity: 1;
}
  
.user-meta__checkbox:focus + .user-meta__checkbox-label {
    fill: $accentuation-color;
}
  
.user-meta__checkbox-link {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $accentuation-color;

    &:visited {
        color: $accentuation-color;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 5px;
        width: 100%;
        height: 1px;
        background-color: $accentuation-color;
    }
}