.page-header {
    border-bottom: 1px solid #ececec;
}

.page-header__logo {
    @extend %logo;

    padding-bottom: 15px;
    padding-top: 16px;

    font-size: 24px;
    line-height: 1.17;

    color: $nav-logo-font-color;

    @media screen and (min-width: $tablet-w) {
        padding-bottom: 25px;
        padding-top: 26px;
    }
    @media screen and (min-width: $desktop-w) {
        padding-bottom: 24px;
        padding-top: 24px;

        font-size: 26px;
        line-height: 1.19;
    }
}

.page-header__nav {
    width: 100%;
}

.page-header__open-mobile-nav-button {
    margin-left: auto;
    padding: 0;

    border: none;
    background-color: $main-bg-color;

    &:hover,
    &:focus {
        fill: $accentuation-color;
    }

    @media screen and (min-width: $tablet-w) {
        display: none;
    }
}

.page-header__open-mobile-nav-icon {
    width: 40px;
    height: 40px;
}

.page-header__nav-pages {
    margin-left: 93px;
    gap: 50px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.page-header__page-link {
    @extend %header-link-common-styles;

    padding: 32px 0;
    color: $custom-black;
}

.page-header__nav-contacts {  
    margin-left: auto;
    align-items: center;
    gap: 50px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}