.page-header {
    border-bottom: 1px solid #ececec;
}

.page-header__logo {
    @extend %logo;

    padding-bottom: 15px;
    padding-top: 16px;

    font-size: 24px;
    line-height: 1.17;

    color: $nav-logo-font-color;

    @media screen and (min-width: $tablet-w) {
        padding-bottom: 25px;
        padding-top: 26px;
    }
    @media screen and (min-width: $desktop-w) {
        padding-bottom: 24px;
        padding-top: 24px;

        font-size: 26px;
        line-height: 1.19;
    }
}

.page-header__nav {
    @media screen and (max-width: calc($tablet-w - 1px)) {
        width: 100%;
    }
}

.page-header__open-mobile-nav-button {
    margin-left: auto;
    padding: 0;

    border: none;
    background-color: $main-bg-color;

    &:hover,
    &:focus {
        fill: $accentuation-color;
    }

    @media screen and (min-width: $tablet-w) {
        display: none;
    }
}

.page-header__open-mobile-nav-icon {
    width: 40px;
    height: 40px;
}

.page-header__nav-pages {
    margin-left: 93px;
    gap: 50px;

    @media screen and (max-width: calc($tablet-w - 1px)) {
        display: none;
    }
}

.page-header__page-link {
    @extend %header-link-common-styles;

    padding: 32px 0;
    color: $custom-black;
}

.page-header__page-link--accentuated {
    color: $accentuation-color;
    position: relative;

    &::after {
        position: absolute;
        bottom: -1px;
        left: -3px;
        content: '';
        width: calc(100% + 6px);
        height: 4px;
        border-radius: 2px;
    
        background-color: $accentuation-color;
    }
}

.page-header__nav-contacts {
    display: none;
    margin-left: auto;

    @media screen and (min-width: $tablet-w) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }
    @media screen and (min-width: $desktop-w) {
        flex-direction: row;
        align-items: center;
        column-gap: 30px;
    }
}

.page-header__contact-link {
    @extend %header-link-common-styles;

    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.17;

    color: $main-font-color;
    fill: $main-font-color;

    @media screen and (min-width: $desktop-w) {
        font-size: 14px;
    }
}

.envelope-icon {
    margin-right: 10px;
    width: 14px;
    height: 10px;

    @media screen and (min-width: $desktop-w) {
        width: 16px;
        height: 12px;
    }
}
  
.smartphone-icon {
    margin-right: 10px;
    width: 10px;
    height: 14px;

    @media screen and (min-width: $desktop-w) {
        height: 16px;
    }
}