.projects {
    display: grid;
    gap: 30px;
    grid-template-columns: 100%;

    @media screen and (min-width: $tablet-w) {
        grid-template-columns: repeat(2, 1fr);        
    }
    @media screen and (min-width: $desktop-w) {
        grid-template-columns: repeat(3, 1fr);        
    }
}

.project-card__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

        transition: box-shadow $main-transition-delay $main-transition-timing-function;
    }
}

.project-card__rev {
    position: relative;
    overflow: hidden;
}

.project-card__img {
    width: 100%;
    margin: 0 auto;
}

.project-card__overlay {
    position: absolute;
    overflow: hidden;
    top: 0;

    display: flex;
    width: 100%;
    height: 100%;

    padding-left: 24px;
    padding-right: 24px;
    // padding-top: 77px;
    // padding-bottom: 77px;

    color: $main-bg-color;
    background-color: $projects-drop-bg;
  
    transform: translateY(101%);
    transition: transform $main-transition-delay $main-transition-timing-function;

    .project-card__link:hover &,
    .project-card__link:focus & {
        transform: translateY(0);
    }

    @media screen and (max-width: calc($tablet-w - 1px)) {
        align-items: center;
    }
    @media screen and (min-width: $tablet-w) {
        padding-top: 49px;
        padding-bottom: 77px; 
    }
    @media screen and (min-width: $desktop-w) {
        padding-top: 63px;
        padding-bottom: 63px;
    }
}

.project-card__overlay-text {
    display: block;
    margin: 0;

    font-size: 18px;
    line-height: 1.56;

    @media screen and (max-width: 360px) {
        font-size: 16px;
    }
}

.project-card__meta {
    flex-grow: 1;
    padding: 19px 23px;

    border-bottom: 1px solid $filter-button-bg-color;
    border-left: 1px solid $filter-button-bg-color;
    border-right: 1px solid $filter-button-bg-color;
}

.project-card__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0 0 4px 0;
  
    color: $custom-black;
}

.project-card__type {
    font-size: 16px;
    line-height: 1.88;
    margin: 0;
  
    color: $main-font-color;
}