.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 480px;

    @media screen and (min-width: $tablet-w) {
        max-width: 768px;
    }
    @media screen and (min-width: $desktop-w) {
        max-width: 1200px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--baseline {
        justify-content: baseline;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop-w) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;

    color: $custom-black;

    @media screen and (min-width: $desktop-w) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}