.container {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
}
  
.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}
  
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
  
.section__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.17;
    margin-bottom: 50px;
    margin-top: 0;
  
    color: $custom-black;
}