body {
    font-family: $main-font-family;
    font-size: $main-font-size;
    line-height: $main-line-height;
    letter-spacing: $main-letter-spacing;

    background-color: $main-bg-color;
    color: $main-font-color;
}