%logo {
    font-family: $logo-font-style;
    font-weight: 700;
    text-decoration: none;

    .logo__web {
        color: $accentuation-color;
    }
}

%header-link-common-styles {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
}